<!DOCTYPE html>
<html>
    <body>
        <section id="about">
            <h2>Our Story – Blooming Since 2025</h2>
            <pre>At The Bouquet Shop, we believe flowers are more than just gifts – they’re emotions wrapped in petals.Founded by a team of passionate florists, our shop has been serving the community with creativity, care, and a deep love for nature. From classic roses to exotic orchids, every arrangement is thoughtfully designed to leave a lasting impression.
We also support sustainable flower farming and source blooms from trusted local growers</pre>
        </section>
    </body>
</html>