<!DOCTYPE html> 
<html lang="en">
<body>
    
        <section id="contact">
            <h2>Get in Touch - We’d Love to Hear From You!</h2>
            <pre>Have a question, a custom order, or just want to say hello? 
Reach out to us – we’re always here to make your floral dreams come true.

Contact Details (example):
📍 1234 Blossom Street, Chennai, Tamil Nadu
📞 +91 8778621234
📧 jemuna@thebouquetshop.in

Opening Hours:
    Mon – Sat: 9:00 AM to 8:00 PM
    Sunday: 10:00 AM to 4:00 PM</pre>
        </section>
</body>
</html>