header{
    padding:30px;
    text-align:center;
    font-size:35px; 
    color:white;}

nav{
    overflow: hidden;
    background-color: darkgrey;
}

nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: lightgrey;
    color: black;
}

.container-fluid{
    display: flex;
    flex-wrap: nowrap;
    
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    width: 200px;
}